# Python Tutorials

### Dates

Solvertank Digital Science   
[http://www.solvertank.com](http://www.solvertank.com)   
<img src="cube.gif" align="left" width="50" />

In [1]:
# import
import pandas as pd

# Pandas tem todas as funções para operar com datas, não precisa de:
#   import datetime
#   from datetime import date

In [2]:
# Dataframe para testes
df = pd.DataFrame({
    'date': [
        '01/01/2021',
        '01/12/2008',
        '23/06/1989',
        '25/08/1999',
        '20/02/1993',
    ],
    'date2': [
        '01/01/2018',
        '01/03/2018',
        '03/12/1988',
        '15/07/2032',
        '15/03/2045',
    ]
})

In [3]:
df

         date       date2
0  01/01/2021  01/01/2018
1  01/12/2008  01/03/2018
2  23/06/1989  03/12/1988
3  25/08/1999  15/07/2032
4  20/02/1993  15/03/2045

## Conversões "string" <> "date"

In [4]:
# Convert "string" para "date"
df['date'] = pd.to_datetime(df.date, format='%d/%m/%Y')
df['date2'] = pd.to_datetime(df.date2, format='%d/%m/%Y')

In [5]:
df

        date      date2
0 2021-01-01 2018-01-01
1 2008-12-01 2018-03-01
2 1989-06-23 1988-12-03
3 1999-08-25 2032-07-15
4 1993-02-20 2045-03-15

In [6]:
# Convert "date" para "string"
df['date'].dt.strftime('%d/%m/%Y')

0    01/01/2021
1    01/12/2008
2    23/06/1989
3    25/08/1999
4    20/02/1993
Name: date, dtype: object

## Partes das datas

In [7]:
# Ano
df['date'].dt.year

0    2021
1    2008
2    1989
3    1999
4    1993
Name: date, dtype: int64

In [8]:
# Mês
df['date'].dt.month

0     1
1    12
2     6
3     8
4     2
Name: date, dtype: int64

In [9]:
# Dia
df['date'].dt.day

0     1
1     1
2    23
3    25
4    20
Name: date, dtype: int64

In [10]:
# Dia da semana // Monday = 0 ... Sunday = 6
df['date'].dt.weekday

0    4
1    0
2    4
3    2
4    5
Name: date, dtype: int64

In [11]:
# Nome do dia da semana
df['date'].dt.day_name()

0       Friday
1       Monday
2       Friday
3    Wednesday
4     Saturday
Name: date, dtype: object

## Operações com duas datas

In [12]:
# Diferença entre datas
df['delta'] = df['date'] - df['date2']

In [13]:
# Diferença em dias
df['delta_days'] = df['delta'].dt.days

In [14]:
# Diferença em segundos
df['delta_seconds'] = df['delta'].dt.total_seconds()

In [15]:
# Soma de dias à data
df['plus'] = df['date'] + pd.to_timedelta('1 day')

In [16]:
# Subtração de dias à data
df['minus'] = df['date'] - pd.to_timedelta('730 days')

In [17]:
# Dias até hoje
df['days_to_today'] = (pd.to_datetime('today') - df['date']).dt.days

In [18]:
# Dias até data específica
df['days_to_date'] = (pd.to_datetime('15/02/2046', format='%d/%m/%Y') - df['date']).dt.days

In [19]:
df

,date,date2,delta,delta_days,delta_seconds,plus,minus,days_to_today,days_to_date
0,2021-01-01,2018-01-01,1096 days,1096,9.469440e+07,2021-01-02,2019-01-02,783,9176
1,2008-12-01,2018-03-01,-3377 days,-3377,-2.917728e+08,2008-12-02,2006-12-02,5197,13590
2,1989-06-23,1988-12-03,202 days,202,1.745280e+07,1989-06-24,1987-06-24,12298,20691
3,1999-08-25,2032-07-15,-12013 days,-12013,-1.037923e+09,1999-08-26,1997-08-25,8583,16976
4,1993-02-20,2045-03-15,-19016 days,-19016,-1.642982e+09,1993-02-21,1991-02-21,10960,19353