# Python Tutorials

### Data SQL equivalency

Solvertank Digital Science   
[http://www.solvertank.com](http://www.solvertank.com)   
<img src="cube.gif" align="left" width="50" />

See also:
https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html

## Setup

In [ ]:
import pandas as pd
data = {'days': [12,53,45,11,23], 'age': [12,18,18,47,19], 'sex': ['M','F','M','M','F']}
df = pd.DataFrame(data,columns= ['days', 'age', 'sex']) #pandas dataset

## Select

In [ ]:
df #SELECT * FROM df

In [ ]:
df['days'] #SELECT days FROM df

In [ ]:
df[['days','age']] #SELECT days, age FROM df

In [ ]:
df.head(3) #SELECT * FROM df LIMIT 3

In [ ]:
df['days'].head(3) #SELECT days FROM df LIMIT 3

In [ ]:
df['name'].drop_duplicates().to_frame() #SELECT DISTINCT name FROM df

## Order By

In [ ]:
df.sort_values(by=["days"]) #SELECT * FROM df ORDER BY days

In [ ]:
df.sort_values(by=["days"], ascending=False) #SELECT * FROM df ORDER BY days DESC

## Where

In [ ]:
df[df['sex']=='M'] #SELECT * FROM df WHERE sex='M'

In [ ]:
df.loc[df['sex']=='M', 'days'] #SELECT days FROM df WHERE sex='M'

In [ ]:
df.loc[df['sex']=='M', ['days','age']] #SELECT days, age FROM df WHERE sex='M'

## Count

In [ ]:
df['age'].count() #SELECT COUNT(age) FROM df

In [ ]:
df.loc[df['sex']=='M','age'].count() #SELECT COUNT(age) FROM df WHERE sex='M'

In [ ]:
df.groupby('age').size().to_frame(name='amount').reset_index() #SELECT age, COUNT(*) AS amount FROM df GROUP BY age

## Sum

In [ ]:
df['days'].sum() #SELECT SUM(days) FROM df

In [ ]:
df.loc[df['sex']=='M','days'].sum() #SELECT SUM(days) FROM df WHERE sex='M'

## Update

In [ ]:
df['days'] = 90 #UPDATE df SET days=90

In [ ]:
df.loc[df['sex'] == 'M', 'days'] = 90 #UPDATE df SET days=90 WHERE sex='M'

## Delete

In [ ]:
df = df[df['sex']!='M'] #DELETE FROM df WHERE sex='M'

## Drop & rename column

In [ ]:
df = df.drop(columns=['sex']) #ALTER TABLE df DROP COLUMN sex

In [ ]:
df.rename(index=str, columns={'sex': 'sexo'}) #ALTER TABLE df RENAME COLUMN sex TO sexo

## Loop while

In [ ]:
for index, row in df.iterrows():
    if index > 2: break
    print(str(index) + ': ' + str(row['days']))