# Python Tutorials

### Data transformation - numeric
(feature engineering)

Solvertank Digital Science   
[http://www.solvertank.com](http://www.solvertank.com)   
<img src="cube.gif" align="left" width="50" />

## Load data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from pandas import ExcelFile
df = pd.read_excel('datavis.xlsx', sheet_name='datavis')

In [3]:
df.head(5)

     status       bmi        bp sex category  region
0 -0.107226       NaN -0.040099   M    White       4
1       NaN -0.055785  0.025315   F     Blue       3
2  0.012648  0.000261 -0.011409   F   Silver       5
3 -0.052738 -0.018062  0.080401   F      NaN       4
4 -0.009147  0.001339 -0.002228   F   Silver       1

### Null data

In [4]:
# list columns with null data
df.isnull().sum()

status       29
bmi          75
bp            0
sex          25
category    153
region        0
dtype: int64

In [5]:
# list columns with null data
df.columns[df.isna().any()].tolist()

['status', 'bmi', 'sex', 'category']

In [6]:
# list rows with null data
df[df['bmi'].isnull()]

       status  bmi        bp  sex  category  region
0   -0.107226  NaN -0.040099    M     White       4
8   -0.020045  NaN -0.005671    M       NaN       1
17   0.016281  NaN -0.043542    F    Silver       4
19  -0.103593  NaN -0.026328    F     White       1
20  -0.005515  NaN  0.049415  NaN    Silver       2
24  -0.001882  NaN -0.026328    M    Silver       3
32   0.027178  NaN  0.028758    F       NaN       3
38  -0.023677  NaN -0.064199    M       NaN       4
61   0.041708  NaN  0.052858    F      Gold       2
64   0.048974  NaN -0.053871    M       NaN       2
66   0.023546  NaN -0.012556    M      Gold       5
67   0.030811  NaN  0.076958    M      Gold       5
76  -0.027310  NaN  0.098763    M      Blue       3
78   0.034443  NaN  0.028758    F      Gold       5
80   0.070769  NaN  0.021872    F       NaN       2
84   0.048974  NaN -0.025180    M       NaN       3
86   0.070769  NaN  0.049415    F  Platinum       5
90  -0.099961  NaN -0.064199    M       NaN       5
99  -0.096328  NaN  0.008101    M     White       3
100  0.016281  NaN -0.041247    M    Silver       2
122  0.016281  NaN -0.057314  NaN    Silver       2
125       NaN  NaN -0.030918    M      Gold       5
130  0.009016  NaN -0.032066    M    Silver       5
151       NaN  NaN  0.107944    F      Gold       3
152 -0.027310  NaN -0.029771    F      Blue       5
158  0.081666  NaN -0.036656    F  Platinum       2
161  0.027178  NaN -0.050428    M      Gold       1
162  0.027178  NaN  0.035644    M       NaN       3
168  0.045341  NaN -0.033214    F      Gold       3
171  0.005383  NaN  0.097616    M    Silver       2
..        ...  ...       ...  ...       ...     ...
268  0.045341  NaN  0.063187    F      Gold       2
275 -0.070900  NaN -0.074528    F     White       4
280 -0.089063  NaN -0.036656    M     White       2
283 -0.041840  NaN -0.036656    M      Blue       5
284  0.063504  NaN  0.107944    M       NaN       2
299  0.016281  NaN  0.001215    F    Silver       3
301  0.030811  NaN  0.004658    F      Gold       1
306  0.041708  NaN -0.022885    F      Gold       1
311 -0.027310  NaN -0.040099    F       NaN       4
332 -0.034575  NaN -0.015999    F       NaN       3
350  0.067136  NaN -0.050428    M       NaN       3
358  0.012648  NaN  0.056301  NaN    Silver       2
363  0.041708  NaN  0.028758    F      Gold       1
370 -0.052738  NaN  0.011544    F      Blue       5
376 -0.074533  NaN -0.005671    M       NaN       1
377       NaN  NaN -0.040099    F       NaN       4
390 -0.056370  NaN -0.036656    F      Blue       5
391 -0.067268  NaN -0.026328    M     White       3
392  0.023546  NaN  0.052858    M      Gold       4
394 -0.092695  NaN -0.057314    M       NaN       1
395 -0.034575  NaN -0.017147    F       NaN       1
397 -0.016412  NaN  0.097616  NaN       NaN       3
401 -0.034575  NaN -0.005671    F      Blue       5
402  0.005383  NaN -0.009113    F    Silver       2
407       NaN  NaN -0.022885    M      Blue       4
409 -0.052738  NaN -0.074528    M       NaN       5
414  0.019913  NaN  0.018429  NaN    Silver       4
418 -0.107226  NaN -0.067642    M     White       1
420  0.016281  NaN -0.002228    M    Silver       3
425       NaN  NaN -0.050428    M      Blue       3

[75 rows x 6 columns]

In [7]:
# remove rows with null data
df = df[df['bmi'].notnull()]

In [8]:
# replace null data with zero
df['bmi'] = df['bmi'].fillna(0)

In [9]:
# replace null data with mean
df['bmi'] = df['bmi'].fillna(df['bmi'].mean())

In [10]:
# replace null data with median
df['bmi'] = df['bmi'].fillna(df['bmi'].median())

### Outliers

In [11]:
# deleting rows out of 3 STD
upper_lim = df['bmi'].mean () + df['bmi'].std () * 3
lower_lim = df['bmi'].mean () - df['bmi'].std () * 3
df = df[(df['bmi'] < upper_lim) & (df['bmi'] > lower_lim)]

In [12]:
# deleting rows out of 5%
upper_lim = df['bmi'].quantile(.95)
lower_lim = df['bmi'].quantile(.05)
df = df[(df['bmi'] < upper_lim) & (df['bmi'] > lower_lim)]

In [13]:
# replacing outliers with cap value
upper_lim = df['bmi'].quantile(.95)
lower_lim = df['bmi'].quantile(.05)
df.loc[(df['bmi'] > upper_lim),'bmi'] = upper_lim
df.loc[(df['bmi'] < lower_lim),'bmi'] = lower_lim

### Normalizing and standardizing

In [14]:
# removing null rows
df = df[df['bmi'].notnull()]

In [15]:
# normalizing
df['bmi_normalized'] = (df['bmi'] - df['bmi'].min()) / (df['bmi'].max() - df['bmi'].min())

In [16]:
# standardizing
df['bmi_standardized'] = (df['bmi'] - df['bmi'].mean()) / df['bmi'].std()

### References

https://towardsdatascience.com/feature-engineering-for-machine-learning-3a5e293a5114   

https://developers.google.com/machine-learning/data-prep/   

https://colab.research.google.com/github/google/eng-edu/blob/master/ml/fe/exercises/intro_to_modeling.ipynb?utm_source=ss-data-prep&utm_campaign=colab-external&utm_medium=referral&utm_content=intro_to_modeling