# Curso: (Mini) Introdução ao Python para processamento e análise de dados 
Maurício Garcia, março 2023

## Revisando listas
List = Array = Vetor

### Lista simples

In [1]:
# criando uma lista
x = ['Pedro', 'Maria', 'João', 'Fernando', 'Ana']

In [2]:
# uma forma mais legível de criar uma lista
x = [
    'Pedro',
    'Maria',
    'João',
    'Fernando',
    'Ana',
]

In [3]:
# Exibindo a lista
x

['Pedro', 'Maria', 'João', 'Fernando', 'Ana']

In [4]:
# Exibindo apenas um elemento da lista
y = x[1]
y

'Maria'

In [5]:
# Loops
for y in x:
    print(y)

Pedro
Maria
João
Fernando
Ana

In [6]:
nomes = x

In [7]:
# Loops
for nome in nomes:
    print(nome)

Pedro
Maria
João
Fernando
Ana

In [8]:
n = 0
for nome in nomes:
    print(n)
    print(nome)
    print('----------')
    n = n + 1

0
Pedro
----------
1
Maria
----------
2
João
----------
3
Fernando
----------
4
Ana
----------

In [9]:
n = 0
for nome in nomes:
    print(n)
    print(nome)
    print('----------')
    n = n + 1
print('Fim')

0
Pedro
----------
1
Maria
----------
2
João
----------
3
Fernando
----------
4
Ana
----------
Fim

### Acrescentando e excluindo

In [10]:
nomes.append('Catarina')

In [11]:
nomes

['Pedro', 'Maria', 'João', 'Fernando', 'Ana', 'Catarina']

In [12]:
nomes.pop()

'Catarina'

In [13]:
nomes

['Pedro', 'Maria', 'João', 'Fernando', 'Ana']

In [14]:
nomes.pop(2)

'João'

In [15]:
nomes

['Pedro', 'Maria', 'Fernando', 'Ana']

### Ordenando

In [16]:
nomes.sort()

In [17]:
nomes

['Ana', 'Fernando', 'Maria', 'Pedro']

### Lista dupla

In [18]:
# Criando lista com duas coluna
# Notar que isso é uma "lista" de "listas"
alunos = [
    ['Pedro', 'M'],
    ['Maria', 'F'],
    ['João', 'M'],
    ['Fernando', 'M'],
    ['Ana', 'F'],
]

In [19]:
# Exibindo a lista
alunos

[['Pedro', 'M'],
 ['Maria', 'F'],
 ['João', 'M'],
 ['Fernando', 'M'],
 ['Ana', 'F']]

In [20]:
# Exibindo apenas um elemento da lista
alunos[1]

['Maria', 'F']

In [21]:
# Exibindo apenas uma coluna de um elemento da lista
alunos[1][0]

'Maria'

In [22]:
# Loops
for aluno in alunos:
    print(aluno)

['Pedro', 'M']
['Maria', 'F']
['João', 'M']
['Fernando', 'M']
['Ana', 'F']

In [23]:
# Loops
for aluno in alunos:
    nome = aluno[0]
    sexo = aluno[1]
    tx = 'O nome {} é {}'
    print(tx.format(nome, sexo))
    print('.....................')

O nome Pedro é M
.....................
O nome Maria é F
.....................
O nome João é M
.....................
O nome Fernando é M
.....................
O nome Ana é F
.....................